<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539601660103-a0kpa079f3p1oq0rqiegqla8742a5dn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539601660103-a0kpa079f3p1oq0rqiegqla8742a5dn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539601660103-1fmlppjc2igcn8mpcrbag10nlnp37jce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-0aNwvdbAPSqAFj3DQ0aJVhL6DZb8N28</string>
	<key>GCM_SENDER_ID</key>
	<string>539601660103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.molyavin.quizmate</string>
	<key>PROJECT_ID</key>
	<string>quizmate-e65be</string>
	<key>STORAGE_BUCKET</key>
	<string>quizmate-e65be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539601660103:ios:eae04452cfc2472f2ab6e2</string>
</dict>
</plist>